/* Fix for syntax highlighting */
.chroma * {
    color: unset
}

.dark .chroma * {
    color: unset
}

/* Fix for line numbers and line highlight */
.chroma {
    background-color: unset !important;
}

.chroma .hl {
    display: flex;
}

.chroma .lnt {
    padding: 0 0 0 12px !important;
}

.highlight pre.chroma code {
    padding: 8px 0px;
}

.highlight pre.chroma .line .cl,
.chroma .ln {
    padding: 0 10px;
}

.chroma .lntd:last-of-type {
    width: 100%;
}
